/*TABLE OF CONTENT*/
/*1.INTEGRERER PARTIAL DOCUMENT*/
/*1.1.VARIABLER*/
/*1.2.MIXINS*/
/*2.DEFAULT: RETSTIL BROWSER PARAMETRE*/
/*3.CLASSES*/
/*4.BODY*/
/*4.1.HEADER*/
/*4.2.MAIN*/
/*4.3.FOOTER*/
/*5.TABLET*/
/*6.MOBIL*/

/*1.INTEGRERER PARTIAL DOCUMENT*/
@use 'partial';

/*2.DEFAULT: RETSTIL BROWSER PARAMETRE*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*3.CLASSES*/
.hide-btn{
    visibility: hidden;
}

/*4.BODY*/
body{
    background-color: partial.$secondary-color;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: auto auto auto; 
    overflow-x: hidden;
}

/*4.1.HEADER*/
header{
    grid-area: header;
    background-color: partial.$primary-color;
    *{
        display: inline;
    }
    img{
        width: 26vw;
        height: auto;
        margin: 4vw 0 4vw 7vw;
    }
    p{
        font-family: partial.$secondary-font;
        font-weight: 200;
        font-size: 2.6vw;
        position: relative;
        bottom: 5.6vw;
        left: 6vw;
    }
}

/*4.2.MAIN*/
main{
    grid-area: main;
    background-color: partial.$tertiery-color;
    min-height: 36vw;
    @include partial.flex();
    flex-direction: row;
    div{
        width: 40vw;
        height: auto;
        @include partial.flex();
        flex-direction: column;
        h1, p{
            font-family: partial.$primary-font;
            color: partial.$primary-color; 
        }
        h1{
            font-size: 3vw;
            padding-top: 2vw;
        }
        p{
            font-size: 1.5vw;
            line-height: 2.2vw;
            text-align: justify;
            padding: 3vw;
        }
        #btns-wrapper{
            width: 92%;
            @include partial.flex($align: flex-end);
            flex-direction: column;
            div{
            width: auto;
            height: auto;
            margin-bottom: 1vw;
            @include partial.flex();
            flex-direction: row;
            button{
                @include partial.btn();
                font-size: 1.5vw;
                font-weight: 600;
                }
                i{
                visibility: hidden;
                background-color: partial.$quaternary-color;
                color: partial.$primary-color;
                font-size: 2.1vw;
                padding: 0 0.2vw;
                border-top: 0.1vw solid black;
                border-bottom: 0.1vw solid black;
                }
                &:hover{
                button{
                    color: partial.$primary-color;
                    }
                    i{
                visibility: visible;
                    }
                }
            }
        }
        
    }    
    img{
        height: 100%; 
    }
}

/*4.3.FOOTER*/
footer{
    grid-area: footer;
    background-color: partial.$secondary-color;
    p{
        font-family: partial.$primary-font;
        font-size: 1vw;
        padding: 1vw;
    }
}
/*5.TABLET*/
@media only screen and (max-width: 800px){
   
}
/*6.MOBIL*/
@media only screen and (max-width: 600px){
    header{
        *{
            display: block;
        }  
        img{
            width: 56vw;
            height: auto;
        }
        p{
            font-family: partial.$primary-font;
            font-size: 4vw;
            position: static;
            margin-bottom: 4vw;
            margin-left: 12vw;
        }      
    }
    main{
        img{
            display: none;
        }
        div{
            width: 100%;
            h1{
                font-size: 6vw;
            }
            p{
                font-size: 3vw;
                line-height: 4vw;
            }
            div{
                button{
                font-size: 3vw;
                }
                i{
                    font-size: 4vw;
                }
            }        
        }
    }
}