/*TABLE OF CONTENT*/
/*1.INTEGRERER PARTIAL DOCUMENT*/
/*1.1.VARIABLER*/
/*1.2.MIXINS*/
/*2.DEFAULT: RETSTIL BROWSER PARAMETRE*/
/*3.CLASSES*/
/*4.BODY*/
/*4.1.HEADER*/
/*4.2.MAIN*/
/*4.3.FOOTER*/
/*5.TABLET*/
/*6.MOBIL*/
/*1.INTEGRERER PARTIAL DOCUMENT*/
/*1.1.VARIABLER*/
/*1.2.MIXINS*/
/*2.DEFAULT: RETSTIL BROWSER PARAMETRE*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/*3.CLASSES*/
.hide-btn {
  visibility: hidden;
}

/*4.BODY*/
body {
  background-color: #D9D9D9;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto auto auto;
  overflow-x: hidden;
}

/*4.1.HEADER*/
header {
  grid-area: header;
  background-color: #FFFFFF;
}
header * {
  display: inline;
}
header img {
  width: 26vw;
  height: auto;
  margin: 4vw 0 4vw 7vw;
}
header p {
  font-family: "Oswald";
  font-weight: 200;
  font-size: 2.6vw;
  position: relative;
  bottom: 5.6vw;
  left: 6vw;
}

/*4.2.MAIN*/
main {
  grid-area: main;
  background-color: #454545;
  min-height: 36vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main div {
  width: 40vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main div h1, main div p {
  font-family: "Abel";
  color: #FFFFFF;
}
main div h1 {
  font-size: 3vw;
  padding-top: 2vw;
}
main div p {
  font-size: 1.5vw;
  line-height: 2.2vw;
  text-align: justify;
  padding: 3vw;
}
main div #btns-wrapper {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
main div #btns-wrapper div {
  width: auto;
  height: auto;
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main div #btns-wrapper div button {
  background-color: #18CEF3;
  color: #000000;
  font-family: "Abel";
  font-size: 2vw;
  font-weight: 700;
  padding: 0.1vw 1vw;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1.5vw;
  font-weight: 600;
}
main div #btns-wrapper div i {
  visibility: hidden;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 2.1vw;
  padding: 0 0.2vw;
  border-top: 0.1vw solid black;
  border-bottom: 0.1vw solid black;
}
main div #btns-wrapper div:hover button {
  color: #FFFFFF;
}
main div #btns-wrapper div:hover i {
  visibility: visible;
}
main img {
  height: 100%;
}

/*4.3.FOOTER*/
footer {
  grid-area: footer;
  background-color: #D9D9D9;
}
footer p {
  font-family: "Abel";
  font-size: 1vw;
  padding: 1vw;
}

/*5.TABLET*/
/*6.MOBIL*/
@media only screen and (max-width: 600px) {
  header * {
    display: block;
  }
  header img {
    width: 56vw;
    height: auto;
  }
  header p {
    font-family: "Abel";
    font-size: 4vw;
    position: static;
    margin-bottom: 4vw;
    margin-left: 12vw;
  }
  main img {
    display: none;
  }
  main div {
    width: 100%;
  }
  main div h1 {
    font-size: 7vw;
  }
  main div p {
    font-size: 4vw;
    line-height: 5vw;
    padding: 6vw;
  }
  main div #btns-wrapper div button {
    font-size: 3.5vw;
  }
  main div #btns-wrapper div i {
    font-size: 4.8vw;
  }
  footer p {
    font-size: 2vw;
    padding: 3vw;
  }
}/*# sourceMappingURL=Style.css.map */